* {

    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {

    box-sizing: border-box;
    overflow: hidden;
    /*Kutu sınırları dısına taşan alanı gizle*/

}


header div img {


    width: 120px;
    height: 15px;
    cursor: pointer;
    margin-top: 20px;

}


header {

    margin-right: 10px;
    z-index: 1;
    margin-left: 50px;
    justify-content: space-between;
    position: fixed;
    display: Flex;
}

header a {

    line-height: 30px;
    padding: 0 15px;
    white-space: nowrap;
    /*?*/
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(34, 34, 34);



}

.model {

    margin-left: 200px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.model a:nth-child(6) {

    padding-right: 180px;


}

.hover {
    background-color: rgba(128, 128, 128, 0.15);
    position: absolute;
    z-index: -1;
    opacity: 0;
    border-radius: 10px;
    height: 30px;
    display: inline-block;
    transition: all 0.7s;
    /*Stil değisiklileri 0.7 saniye süresinde gerçekleşir*/

}

.model a:nth-child(1):hover~.hover {
    opacity: 1;
    left: 0;
    width: 85px;

}


.model a:nth-child(2):hover~.hover {


    opacity: 1;
    left: 90px;
    width: 80px;

}

.model a:nth-child(3):hover~.hover {

    opacity: 1;
    left: 175px;
    width: 85px;

}

.model a:nth-child(4):hover~.hover {

    opacity: 1;
    left: 260px;
    width: 90px;

}


.model a:nth-child(5):hover~.hover {

    opacity: 1;
    left: 347px;
    width: 98px;


}

.model a:nth-child(6):hover~.hover {

    opacity: 1;
    left: 450px;
    width: 105px;
}


.model a:nth-child(7):hover~.hover {

    opacity: 1;
    left: 723px;
    width: 85px;


}

.model a:nth-child(8):hover~.hover {

    opacity: 1;
    left: 790px;
    width: 85px;



}


.model a:nth-child(9):hover~.hover {

    opacity: 1;
    left: 875px;
    width: 65px;

}

.main-1 {
    display: flex;
    overflow: auto;
    flex: none;
    /*Boyutun sabit kalmasını sağlar*/
    width: 100%;
    height: 100vh;
    flex-flow: column nowrap;
    /* Yatayda sıralanmasını sağlar*/
    scroll-snap-type: y mandatory;
    /*Yatayda kaydırma yapılmasını sağlar*/


}


.main-1>div {

    text-align: center;
    /*Yazıların ortalanmasını sağlar*/
    flex: none;
    /* Boyutun sabit kalmasını sağlar*/
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    /*Kaydırma yaparken ortalanmasını sağlar*/

}

.main-1 div img {

    width: 100%;
    height: 100vh;
    object-fit: cover;
    /*Resmi boyutlandırırken oranı korur*/
    object-position: center;
    /*Resmi ortalar*/
}

.main-2 {
    position: relative;
    /* Göreceli konumlandırma */
    min-height: 100vh;

}

.head {

    position: absolute;
    /* Mutlak konumlandırma */
    display: flex;
    /*Yan yana sıralanmasını sağlar*/
    flex-direction: column;
    /* Dikeyde sıralanmasını sağlar*/
    justify-content: center;
    /*Yatayda ortalanmasını sağlar*/
    width: 100%;
    top: 0;
    height: 40vh;
    align-items: center;

}


.head h1 {

    font-size: 45px;
    font-weight: 500;
    color: rgb(61, 61, 61);
    padding-bottom: 5px;
    /*Alt boşluk*/
}

.head span {

    color: rgb(53, 53, 53);
    font-size: 17px;

}


.head a {

    color: rgb(53, 53, 53);
    text-decoration: underline;
    /*Altı çizili*/
    cursor: pointer;
    text-underline-position: under;
    /*Alt çizginin metnin altında olmasını sağlar*/


}


.head a:hover {
    text-decoration-thickness: 2px;
}

.login {

    position: fixed;
    /* Sabit konumlandırma */
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /*Yatayda ortalanmasını sağlar*/


}



.login div {

    display: flex;
    justify-content: center;
    /*Yatayda ortalanmasını sağlar*/
}


.btn div {

    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;

}


#order {

    background-color: #393c41;
    color: white;

}

#invent {

    background-color: #eeebeb;
    color: #393c41;
}

#order,
#invent {

    font-size: 14px;
    font-weight: 500;
}

.blank {

    height: 70px;

}

.login .arrow {
    height: 60px;
    font-size: 25px;
    color: rgb(75, 75, 75);
    animation: updown 1.5s ease infinite;
    /*Animasyonu başlatır*/
}


@keyframes updown {

    0% {
        transform: translateY(0);
    }

    /*Yukarı aşağı hareketi sağlar*/

    10% {
        transform: translateY(10px);
    }

    /* 50. saniyede 10px aşağı hareket eder*/

    20% {
        transform: translateY(0);
    }

    /*Yukarı aşağı hareketi sağlar*/

    30% {
        transform: translateY(10px);
    }

    /* 50. saniyede 10px aşağı hareket eder*/

    40% {
        transform: translateY(0);
    }

    /*Yukarı aşağı hareketi sağlar*/

    50% {
        transform: translateY(10px);
    }

    /* 50. saniyede 10px aşağı hareket eder*/

    80% {
        transform: translateY(0);
    }

    /*Yukarı aşağı hareketi sağlar*/

    100% {
        transform: translateY(0);
    }
}


.main .head h1 {

    animation: showspan 1s;

}

.main .head span {

    animation: show 1s;


}

@keyframes show {

    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    70% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }


}


@keyframes showspan {

    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.login #order {

    animation: order 1s;
}

@keyframes order {

    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.login #invent {

    animation: invent 1s;
}

@keyframes invent {

    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}


.blur {

    position: absolute;
    /* Mutlak konumlandırma */
    width: 100%;
    display: none;
    /* Blok elemanı yapar */
    height: 100vh;
    /* Ekrana göre boyutlandırma */
    z-index: 99;
    transition: all 1s;
    backdrop-filter: blur(4px);
    /*Arka planı bulanıklaştırır*/
    background-color: #393c416e;
}

.blur.active {
    display: block;
}

.hdn-side {

    position: absolute;
    right: 0;
    width: 310px;
    opacity: 0;
    transform: translateX(320px);
    transition: all 1.2s;
    z-index: 100;
    height: 100%;
    overflow: scroll;
    background-color: white;
}

.hdn-side.active {

    opacity: 1;
    transform: translateX(0);
}

#mark {
    display: Flex;
    justify-content: end;
    padding: 30px;
    background-color: white;
    position: sticky;
    /*Sabit konumlandırma*/
    z-index: 100;

}

#mark .fa-xmark {

    font-size: 25px;
    padding: 8px 10px;
    /*Dahili boşluk*/
    transition: all 0.5s;
    cursor: pointer;

}

#mark .fa-xmark:hover {

    background-color: rgb(233, 233, 233);
    border-radius: 50%;
}


.hdn-cont {
    padding: 5px 30px;
    height: 100%;

}

.hdn-cont li {

    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 10px;
    /*Alt boşluk*/
    transition: all 0.5s;
    cursor: pointer;

}

.hdn-cont li:hover {

    background-color: rgb(233, 233, 233);
    border-radius: 15px;

}

/* .head {
    opacity: 0;

}

.head-1 {
    opacity: 1;
    transition: all 1.5s;

}

.head-2 {

    opacity: 0;
    transition: all 1.5s;
}

.head-3 {

    opacity: 0;
    transition: all 1.5s;
}

.head-4 {

    opacity: 0;
    transition: all 1.5s;
}

.head-5 {

    opacity: 0;
    transition: all 1.5s;
}

.head-6 {

    opacity: 0;
    transition: all 1.5s;
}

.login {

    opacity: 0;

}

.login-1 {

    opacity: 1;
    transition: all 1.5s;
}

.login-2 {

    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}

.login-3 {

    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}

.login-4 {

    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}

.login-5 {

    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}

.login-6 {

    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}

.active {
    opacity: 1;
}

.hide {
    opacity: 0;
} */